Feedback form.json
{
  "name": "Feedback form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback Form",
        "formDescription": "This is a user feedback form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Email Address",
              "requiredField": true
            },
            {
              "fieldLabel": "Number",
              "placeholder": "Enter your number"
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Enter your feedback here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -128,
        -176
      ],
      "id": "446c118f-4cab-492e-88d9-e593222bf5bf",
      "name": "On form submission",
      "webhookId": "98f8627f-4233-444d-8bc5-0ba53f8739d1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine if the feedback filled by the customer is a Complain, Compliment or a Feature Addition Request.\n\nThe feedback is  {{ $json.Feedback }}\n\nYour response should be only one from the below\nComplain\nCompliment\nFeature Addition Request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -48
      ],
      "id": "0f74cb75-62bc-45c0-a579-afa2c30cfcb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        176
      ],
      "id": "80228431-602e-4436-9dec-ba1684aeaf90",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5qZpkR8fI6UjBYn8",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -176
      ],
      "id": "10951cc1-816e-4623-8103-378c635532ea",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "deaf131a-b009-473e-9ed4-871f0c13df85"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd5ba581-9c27-4527-a627-bebc8444fd5d",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fba13080-7256-471d-a0fa-b4bb9484c034",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -192
      ],
      "id": "67e5ffd1-6fee-4f74-9759-c72504173df3",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4VWzngL5P3uC5D",
          "mode": "list",
          "cachedResultName": " customer feedback",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D"
        },
        "table": {
          "__rl": true,
          "value": "tbl7ruPYINNPm0rQa",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D/tbl7ruPYINNPm0rQa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contach No.": "={{ $json.Number }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contach No.",
              "displayName": "Contach No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        -176
      ],
      "id": "a02920c1-e35d-4712-9750-0ccc628ae1ee",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "ksMaKagZyK7ewgVK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4VWzngL5P3uC5D",
          "mode": "list",
          "cachedResultName": " customer feedback",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D"
        },
        "table": {
          "__rl": true,
          "value": "tblhb1RublbnhI7Dv",
          "mode": "list",
          "cachedResultName": "Feature Addition Request",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D/tblhb1RublbnhI7Dv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact No.": "={{ $('Merge').item.json.Number }}",
            "Name": "={{ $('Merge').item.json['Full Name'] }}",
            "Email": "={{ $('Merge').item.json['Email Address'] }}",
            "Feedback": "={{ $('Merge').item.json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        16
      ],
      "id": "6bb67e40-9d7f-4a8e-8c96-08bf5bf7520e",
      "name": "Create a record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "ksMaKagZyK7ewgVK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4VWzngL5P3uC5D",
          "mode": "list",
          "cachedResultName": " customer feedback",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D"
        },
        "table": {
          "__rl": true,
          "value": "tblxZkhSZfjchyWNc",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://airtable.com/app4VWzngL5P3uC5D/tblxZkhSZfjchyWNc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "Email": "={{ $('On form submission').item.json['Email Address'] }}",
            "Contact No.": "={{ $('On form submission').item.json.Number }}",
            "Feedback": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        -368
      ],
      "id": "12b3a9aa-5816-4fe7-84db-caa8eba56102",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ksMaKagZyK7ewgVK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AGL7U5KPA",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "={{ \n  $('Switch').item.json['Full Name'] + '\\n\\n' + \n  $('Switch').item.json['Email Address'] + '\\n\\n' + \n  $('Switch').item.json['Feedback'] \n}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        -368
      ],
      "id": "43bfd9a7-58b9-4fe5-942e-e73dc2ceeefb",
      "name": "Send a message",
      "webhookId": "9f7ff9cd-d571-478c-b004-fc96d5a61b91",
      "credentials": {
        "slackOAuth2Api": {
          "id": "A9wS09ZmCgNFIbKb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG4UHQPB3",
          "mode": "list",
          "cachedResultName": "feature-request"
        },
        "text": "={{ $('Switch').item.json.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        16
      ],
      "id": "42a865af-808c-4a42-9b68-ff47d15f1f1c",
      "name": "Send a message1",
      "webhookId": "9ece561f-5602-495a-9d6c-13e426ad4ff7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "A9wS09ZmCgNFIbKb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['Email Address'] }}",
        "subject": "Hey, we have taken your complain in notice",
        "emailType": "text",
        "message": "=Hey {{ $('Merge').item.json['Full Name'] }}\n\nWe have already taken your complain into notice and our team is working on to it and we shell get back to you on what the exact update.\nthank you so much for bringing this into our notice.\n\nthank you",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        -368
      ],
      "id": "5049f26d-1be5-449f-81e1-076e7dab97af",
      "name": "Send a message2",
      "webhookId": "8f088f52-76b0-4f3f-be11-f33c27eef071",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mip1dyMr6rF6rTjp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c9e2e69-bb65-4441-a253-78fda6cbd7cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2546ef4d10d427f26bd69e83e34873a360738b83a0232de21879a98be154bacb"
  },
  "id": "Ah8ytlXqKlx3zzo29SUui",
  "tags": []
}